# Forzar saltos de línea de Linux (LF) para todos los archivos PHP
*.php text eol=lf

# Forzar LF para archivos de configuración
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Ignorar completamente la carpeta vendor en Git
/vendor/ export-ignore